In [1]:
# read json from url, convert to dict, convert to dataframe

import json

'''
import requests

url = 'https://..............."
r = requests.get(url) # json data 불러오기
contents = r.text # json으로 변환
'''
# 위와 같은 형식으로 받은 데이터 내용

contents = '''
           {"currentCount":10,
            "data":[{"경상자수":"8635","부상신고자수":"757","사고건수":"18390","사고유형_대분류":"차대사람","사고유형_중분류":"횡단중","사망자수":"794","중상자수":"9403"},
                    {"경상자수":"2575","부상신고자수":"276","사고건수":"4742","사고유형_대분류":"차대사람","사고유형_중분류":"차도통행중","사망자수":"205","중상자수":"1888"},
                    {"경상자수":"1989","부상신고자수":"268","사고건수":"3196","사고유형_대분류":"차대사람","사고유형_중분류":"길가장자리구역통행중","사망자수":"69","중상자수":"1013"},
                    {"경상자수":"1281","부상신고자수":"156","사고건수":"2194","사고유형_대분류":"차대사람","사고유형_중분류":"보도통행중","사망자수":"41","중상자수":"893"},
                    {"경상자수":"9750","부상신고자수":"1253","사고건수":"16726","사고유형_대분류":"차대사람","사고유형_중분류":"기타","사망자수":"334","중상자수":"6319"},
                    {"경상자수":"7424","부상신고자수":"576","사고건수":"6554","사고유형_대분류":"차대차","사고유형_중분류":"정면충돌","사망자수":"234","중상자수":"3750"},
                    {"경상자수":"88548","부상신고자수":"7734","사고건수":"76234","사고유형_대분류":"차대차","사고유형_중분류":"측면충돌","사망자수":"545","중상자수":"24422"},
                    {"경상자수":"54788","부상신고자수":"3964","사고건수":"36615","사고유형_대분류":"차대차","사고유형_중분류":"추돌","사망자수":"404","중상자수":"10392"},
                    {"경상자수":"43999","부상신고자수":"4598","사고건수":"40079","사고유형_대분류":"차대차","사고유형_중분류":"기타","사망자수":"320","중상자수":"11479"},
                    {"경상자수":"3027","부상신고자수":"129","사고건수":"2517","사고유형_대분류":"차대차","사고유형_중분류":"후진중충돌","사망자수":"2","중상자수":"307"}],
            "matchCount":17,"page":1,"perPage":10,"totalCount":17}
            '''

In [2]:
# contents = json.dumps(contents) # convert dict to json. 참고용

In [3]:
# contents(json)을 dictionary로 변환
json_data = json.loads(contents)
print(json_data)
print()
print('데이터타입:',type(json_data)) # dict타입 확인

{'currentCount': 10, 'data': [{'경상자수': '8635', '부상신고자수': '757', '사고건수': '18390', '사고유형_대분류': '차대사람', '사고유형_중분류': '횡단중', '사망자수': '794', '중상자수': '9403'}, {'경상자수': '2575', '부상신고자수': '276', '사고건수': '4742', '사고유형_대분류': '차대사람', '사고유형_중분류': '차도통행중', '사망자수': '205', '중상자수': '1888'}, {'경상자수': '1989', '부상신고자수': '268', '사고건수': '3196', '사고유형_대분류': '차대사람', '사고유형_중분류': '길가장자리구역통행중', '사망자수': '69', '중상자수': '1013'}, {'경상자수': '1281', '부상신고자수': '156', '사고건수': '2194', '사고유형_대분류': '차대사람', '사고유형_중분류': '보도통행중', '사망자수': '41', '중상자수': '893'}, {'경상자수': '9750', '부상신고자수': '1253', '사고건수': '16726', '사고유형_대분류': '차대사람', '사고유형_중분류': '기타', '사망자수': '334', '중상자수': '6319'}, {'경상자수': '7424', '부상신고자수': '576', '사고건수': '6554', '사고유형_대분류': '차대차', '사고유형_중분류': '정면충돌', '사망자수': '234', '중상자수': '3750'}, {'경상자수': '88548', '부상신고자수': '7734', '사고건수': '76234', '사고유형_대분류': '차대차', '사고유형_중분류': '측면충돌', '사망자수': '545', '중상자수': '24422'}, {'경상자수': '54788', '부상신고자수': '3964', '사고건수': '36615', '사고유형_대분류': '차대차', '사고유형_중분류': '추돌', '사망자수': '404', '중상자수': '10392'}, {'경상자수': '43999', '부상신고자수': '4598', '사고건수': '40079', '사고유형_대분류': '차대차', '사고유형_중분류': '기타', '사망자수': '320', '중상자수': '11479'}, {'경상자수': '3027', '부상신고자수': '129', '사고건수': '2517', '사고유형_대분류': '차대차', '사고유형_중분류': '후진중충돌', '사망자수': '2', '중상자수': '307'}], 'matchCount': 17, 'page': 1, 'perPage': 10, 'totalCount': 17}

데이터타입: <class 'dict'>

In [4]:
# dictionary에서 필요한 값('data')만 추출하기
data = json_data['data']

In [5]:
# Dataframe으로 만들기
import pandas as pd
df = pd.json_normalize(data)
df

    경상자수 부상신고자수   사고건수 사고유형_대분류    사고유형_중분류 사망자수   중상자수
0   8635    757  18390     차대사람         횡단중  794   9403
1   2575    276   4742     차대사람       차도통행중  205   1888
2   1989    268   3196     차대사람  길가장자리구역통행중   69   1013
3   1281    156   2194     차대사람       보도통행중   41    893
4   9750   1253  16726     차대사람          기타  334   6319
5   7424    576   6554      차대차        정면충돌  234   3750
6  88548   7734  76234      차대차        측면충돌  545  24422
7  54788   3964  36615      차대차          추돌  404  10392
8  43999   4598  40079      차대차          기타  320  11479
9   3027    129   2517      차대차       후진중충돌    2    307

In [6]:
# 혹은 
df1 = pd.DataFrame(data)
df1

    경상자수 부상신고자수   사고건수 사고유형_대분류    사고유형_중분류 사망자수   중상자수
0   8635    757  18390     차대사람         횡단중  794   9403
1   2575    276   4742     차대사람       차도통행중  205   1888
2   1989    268   3196     차대사람  길가장자리구역통행중   69   1013
3   1281    156   2194     차대사람       보도통행중   41    893
4   9750   1253  16726     차대사람          기타  334   6319
5   7424    576   6554      차대차        정면충돌  234   3750
6  88548   7734  76234      차대차        측면충돌  545  24422
7  54788   3964  36615      차대차          추돌  404  10392
8  43999   4598  40079      차대차          기타  320  11479
9   3027    129   2517      차대차       후진중충돌    2    307