### 날짜기준 empty dataframe 만들기

In [2]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

In [3]:
start_date = '2022-01-01'  # 시작 일자
today = datetime.date.today()
today = today.strftime('%Y-%m-%d')
end_date = today  # 마감 일자

In [4]:
column_name = ['a', 'b', 'c']
date_range_ts = pd.date_range(start=start_date, end=end_date)
df_out = pd.DataFrame(columns = column_name)
df_out.insert(0, 'date', date_range_ts)  # column 삽입

In [5]:
df_out.head()

        date    a    b    c
0 2022-01-01  NaN  NaN  NaN
1 2022-01-02  NaN  NaN  NaN
2 2022-01-03  NaN  NaN  NaN
3 2022-01-04  NaN  NaN  NaN
4 2022-01-05  NaN  NaN  NaN

In [6]:
df_out.replace(np.nan, '', inplace=True) # Nan을 빈 칸으로 대체

In [7]:
df_out.head()

        date a b c
0 2022-01-01
1 2022-01-02
2 2022-01-03
3 2022-01-04
4 2022-01-05

In [8]:
df1 = df_out.copy()

In [ ]:
df